*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #413e3d;

}

/* Inicio Codigo Barra de Navegación */

#menu{
    background-color: #23d851;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

#menu ul li{
    display: inline-block;
    border-bottom: 4px solid transparent;
    transition: 0.5s;
    padding-bottom: 0px;
}

#menu ul li:hover{
    background-color: #3CB371;
    border-color: #ebfe59;
    padding-bottom: 8px;
    transition: 0.5s;
}

#menu ul li a{
    color: rgb(255, 255, 255);
    display: block;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 1.4em;
    font-family: 'Lobster', cursive;
    transition: 0.5s;
}

#menu ul li:hover a{
    color: #ebfe59;
    font-size: 1.3em;
    transition: 0.5s;
}

#reb{
    position: absolute;
    display: inline-table;
    width: 250px;
    margin-left: 10px;
    cursor: pointer;
}

#reb-img{
    display: inline-block;

}

#reb-text{
    display: inline-block;
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
}

#rebel{
    display: inline-block;
    position: absolute;
    top: 25%;
    margin-left: 10px;
}

/* Fin Codigo Barra de Navegación */


/* body */
.fondotexto{
  background-color: #4e4643;   
  width: 80%;
  height: 500px;
  margin: 55px 120px 55px 120px; 
  padding: 3px 10px;
  border: #756b67 5px double;
  border-radius: 20px;
}

#texto1{
    width:519px;
    height: 500px;
    margin-left: 80px; 
    font-family: 'Roboto Slab', serif;
    font-size: 1.4em;
    color: white;
    
}    

#texto2{
    width:519px;
    height: 500px;
    margin-left: 80px; 
    font-family: 'Roboto Slab', serif;
    font-size: 1.4em;
    color: white;
}
#imagen1{
    width:400px;
    height: 220px; 
    margin-left: 620px; 
    margin-top: -300px;
    border-radius: 20px;
}

#imagen2{
   width:400px;
   height: 220px;
   margin-left: 40px; 
   margin-top: -240px;
   border-radius: 20px;
   
}
