*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #3C3C3C;

}

/* Inicio Codigo Barra de Navegación */

#menu{
    background-color: #23d851;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

#menu ul li{
    display: inline-block;
    border-bottom: 4px solid transparent;
    transition: 0.5s;
    padding-bottom: 0px;
}

#menu ul li:hover{
    background-color: #3CB371;
    border-color: #ebfe59;
    padding-bottom: 8px;
    transition: 0.5s;
}

#menu ul li a{
    color: rgb(255, 255, 255);
    display: block;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 1.4em;
    font-family: 'Lobster', cursive;
    transition: 0.5s;
}

#menu ul li:hover a{
    color: #ebfe59;
    font-size: 1.3em;
    transition: 0.5s;
}

#reb{
    position: absolute;
    display: inline-table;
    width: 250px;
    margin-left: 10px;
    cursor: pointer;
}

#reb-img{
    display: inline-block;

}

#reb-text{
    display: inline-block;
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
}

#rebel{
    display: inline-block;
    position: absolute;
    top: 25%;
    margin-left: 10px;
}

/* Fin Codigo Barra de Navegación */
.fondotexto{
    background-color: #2E2D2D ;   
    width:1210px;
    height: 500px;
    margin-left: 50px; 
    border-radius: 20px;
}

#texto1{
    font-family:Comic Sans MS,arial,verdana;
    color: white;
    width:410px;
    margin-top: 10px;
    margin-left: 718px; 
    font-size: 26px;
    text-align: justify;
}    


#imagen1{
    width:600px;
    height: 450px; 
    margin-left: 20px;
    margin-top: -287px;
    border-radius: 20px;
}


#banner{
    height: 500px;
    width: 1200px;
    margin-left: 50px; 
    border-radius: 20px;
}